/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font: 40px;
    color: rgb(83, 83, 236);
    padding: 10px;
}
nav {
    background-color: rgb(170, 236, 236);
}
nav ul li a{
    color: rgb(55, 51, 85);
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
}
nav ul{
    display: flex;
    list-style-type: none;
    padding: 10px;
}
nav ul li hover{
    background-color: beige;
    color: rgb(149, 149, 233);
    padding: 10px;
    border-radius: 35px;
}
h2{
    padding: 20px;
    color: rgb(62, 62, 95);
}
.responsive-image{
    max-width: 100%;
    height: auto;
}
header{
    background-color: rgb(206, 224, 236);
}
body{
    background-color: rgb(190, 236, 236);
}
.container{
    background-color: rgb(168, 202, 231);
    display: inline-grid;
    grid-template-columns: auto auto auto;
    }
    .container div{
        background-color: rgb(170, 170, 240);
        margin: 10px;
        padding: 20px;
        color: white;
        font-family: Arial, sans-serif;
        border-radius: 15px;
    }
    /*Media Query for a tablet*/
    @media screen and (max-width: 768px){
        body{
            background-color: rgb(224, 189, 143);
        }
        .container div{
            grid-template-columns: auto auto;
        }
        .container div{
            font-size: 12px;
            padding: 15px;
        }
        nav ul{
            display: block;
        }
        nav ul li a{
            padding: 3px;
            font-size: 12px;
            display: block;
        }
        h1{
            font-size: 30px;
            padding: 10px;
        }
        h2{
            font-size: 20px;
            padding: 10px;
        }
    }
